@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins:300,700&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: 0;
  
}
.App {
  text-align: center;
}


.form_container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.page{
  background-color: #282c34; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins";
  height: 90vh;
}
.page1{
  background-color: #282c34;
}
.page2{
  background-color: #38155c;
}
.page form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* .page2 h1{ */
  /* margin: 0; */
/* } */
/* .login-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
/* .form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  height: 50px;
}
.form-control{
  background: #471c72;
  border: 1px solid #351357;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-sizing: border-box;  
}
.form-control:active, .form-control:focus{
  border: 1px solid #7633b9;
}
.form-label{
  color: #b36dfa;
  font-size: 12px;
  transition: all .3s ease;
  margin-bottom: 3px;
}
.form-group:hover .form-label{
  color: #fff;
  font-size: 15px;
  margin-bottom: -1px;
} */
.page3{
  background-color: #ee19d1;
}
.custom-control{
  margin: 10px 0;
  font-size: 10px;
}
.custom-control-label{
  padding-top: 5px;
}
.page .btn-outline-primary{
  border: 1px solid #ee19d1;
  color: #ee19d1
} 
.page .btn-outline-primary:hover{
    background-color: #ee19d1;
    color: #351357;
    border: 1px solid #ee19d1;
}